/* GLOBAL STYLES */
a {
  color: rgba(131, 31, 200, 0.2);
}
html {
  background: #ffffff;
}

/* SOCIAL STYLES */
.social-link {
  background: rgba(150, 150, 150, 0.5);
  color: #ff0000;
}

/* BIO STYLES */
.bio-box {
border: 1px solid #000000;
}
.bio-copy a {
  color: #00ff00;
}
/* div.bio-box { */
/*   border: 1px solid #00ff00; */
/* } */
/*  */

