/* GLOBAL STYLES */
a {
  color: rgba(131, 31, 200, 0.2);
}
html, body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em;
  margin-top: 0;
}

/* HERO STYLES */
.full-hero {
  background-color: #c7dbfc;
  height: 50vh;
  width: 75vw;
}

h2 {
  font-size: 30px;
}

/* SOCIAL STYLES */
.social-link {
  background: rgba(150, 150, 150, 0.5);
  color: #0000ff;
}

/* BIO STYLES */
/* .bio-wrapper { */
/* } */
.bio-box {
  border: 1px solid #000000;
  font-size: 1em;
  width: 50%;
}
.bio-box h3 {
  font-size: 1em;
}
.bio-copy {
  font-size: 1em;
}
.bio-copy a {
  color: #00ff00;
}
